<h1>Hi there!</h1>

<% if current_profile %>
	Signed in as <strong><%= current_profile.name %></strong>
	<%#= link_to("Sign out", signout_path , id: "sign_out") %>
<% else %>
	<%#= link_to("Sign in with Facebook", '/auth/facebook' , id: 'sign_in') %>
<% end %>
