body{
	background-color: #FAFAFA;
}
h1{
	text-align: center;
	color: #c0392b;
	margin-bottom: 20px;
	border-bottom: solid 2px #2c3e50;
	padding: 7px;
}

.personal-info i{
    padding: 5px;
}

.logo{
	margin-right: 4px;
  width: 150px;
  height: 80px;
}

.form-control::-webkit-input-placeholder { 
  color: #C8C8C8;  
 }
.form-control:-moz-placeholder { 
  color: #C8C8C8;  
 }
.form-control::-moz-placeholder {
  color: #C8C8C8;  
}
.form-control:-ms-input-placeholder { 
  color: #C8C8C8;  
 }

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.remove-link:hover :visited{  
  font-size: 20px;
  color: red;
  text-decoration: none;
}

.remove-link:link{
  padding-left: 20px;
  font-size: 20px;
  color: red;
  text-decoration: none;
}

.container{
  margin-bottom: 50px;
}

h2{
	border-bottom: solid 1px #CCC;
	margin-bottom: 10px;
	margin-top: 1px;
	color: #16a085;
}

h2 i{
  padding-left: 20px;
  font-size: 20px;
  color: #27ae60;
  text-decoration: none;  
}

.simple-box{
	background-color: #FFF;
	padding: 15px;
	border: solid 1px #95a5a6;
	margin-bottom: 10px;
	-webkit-box-shadow: -15px 10px 17px -4px rgba(204,204,204,1);
  -moz-box-shadow: -15px 10px 17px -4px rgba(204,204,204,1);
  box-shadow: -15px 10px 17px -4px rgba(204,204,204,1);
	
}

[class*='close-'] {
  color: #777;
  font: 14px/100% arial, sans-serif;
  position: absolute;
  right: 5px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: 5px;
}

.close-classic:after {
  content: 'X'; /* ANSI X letter */
}

.close-thin:after {
  content: '×'; /* UTF-8 symbol */
}

.close-thik:after {
  content: '✖'; /* UTF-8 symbol */
}

/* Dialog */

.well {
  position: relative;  
}

a{

}

.blue-b{
	border-top: solid 4px #2980b9;
}

.blue-b h2{
  color: #2980b9;
}

.green-b{
	border-top: solid 4px #27ae60;
}

.orange-b{
	border-top: solid 4px #f39c12;
}

.orange-b h2{
  color: #f39c12;
}

.red-b{
  border-top: solid 4px #e74c3c;
}

.red-b h2{
  color: #e74c3c;
}

.edit-link:hover :visited{
  padding-left: 20px;
  font-size: 20px;
	color: #27ae60;
  text-decoration: none;
}

.edit-link:link{
  padding-left: 20px;
  font-size: 20px;
  color: #27ae60;
  text-decoration: none;
}


.delete-link{
	color: #c0392b;
}

.show-link{
	color:#2980b9;
}

.back-link{
	margin-bottom: 5px;
	color: #3498db;
}

.navbar-default {
  background-color: #01ae76;
  border-color: #27ae60;
  border-bottom: solid 5px #f1c40f;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {01ae76
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #f1c40f;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #f1c40f;
  background-color: #27ae60;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #f1c40f;
  background-color: #27ae60;
}
.navbar-default .navbar-toggle {
  border-color: #27ae60;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #27ae60;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #f1c40f;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #f1c40f;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #f1c40f;
    background-color: #27ae60;
  }
}

#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#myTable th, #myTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}

.icon{
  width: 80px;
  margin-bottom: 20px;
  margin-left: 100px;  
}

p {
  line-height: 1.6em;
  margin: 0 0 30px 0;
}

p.big-p{  
  font-size: 15px;
  /*font-size: 0.9375rem;*/
  font-family: "Open sans", Helvetica, Arial, sans-serif;
}

h8 {
  font-size: 35px;
}



/********** TEMPLATE CSS START *****************************/
img {
  max-width: 100%;
}
.panel-cta {
  box-shadow: 0 0 0 1px #e1e1e1, 0 0 0 3px #fff, 0 0 0 4px #e1e1e1;
  background: #f3f3f3;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
}
.panel-cta p,
.panel-cta h3,
.panel-cta h4,
.panel-cta h5,
.panel-cta h6 {
  margin: 0;
}
.panel-cta .panel-body {
  padding: 35px;
}
/* Section - Featured */
.featured {
  font-size: 13px;
  font-size: 0.8125rem;
}
.featured h3 {
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-size: 1.5rem;
  text-transform: uppercase;
  line-height: 1.4em;
  vertical-align: middle;
  margin: 0 0 25px 0;
}
/* Section - Recent works */
.thumbnails {
  padding: 0;
}
.thumbnails li {
  margin-bottom: 30px;
}
.thumbnails .details {
  display: block;
  text-align: center;
  font-size: 12px;
  font-size: 0.75rem;
}
.thumbnail {
  display: block;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  border: 0 none;
  margin-bottom: 10px;
  padding: 0;
  text-align: center;
  text-decoration: none;
  color: #333;
}
.thumbnail .img {
  display: block;
  width: 100%;
  overflow: hidden;
  height: 180px;
  margin: 0 0 20px;
  position: relative;
}
.thumbnail .title {
  text-transform: uppercase;
  margin: 0 2em;
  display: block;
  text-indent: 0;
}
.thumbnail .cover {
  position: absolute;
  display: block;
  opacity: 0;
  width: 100%;
  height: 180px;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 550ms;
  -moz-transition-duration: 550ms;
  -o-transition-duration: 550ms;
  transition-duration: 550ms;
}
.thumbnail .cover .more {
  position: absolute;
  bottom: 15px;
  right: 0;
  height: 32px;
  line-height: 32px;
  padding: 0 20px;
  -webkit-border-radius: 1px 0 0 1px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 1px 0 0 1px;
  -moz-background-clip: padding;
  border-radius: 1px 0 0 1px;
  background-clip: padding-box;
  font-size: 12px;
  font-size: 0.75rem;
  text-transform: uppercase;
  text-shadow: 0 1px 0px #780d33;
  background: #bd1550;
  color: white;
}
.thumbnail img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.thumbnail:hover {
  color: #333;
  text-decoration: none;
}
.thumbnail:hover img {
  -webkit-filter: saturate(0%);
}
.thumbnail:hover .cover {
  opacity: 1;
}
/* pagination */
.pagination > li > a {
  color: #808080;
  border: 0 none;
  font-size: 20px;
  font-size: 1.25rem;
  font-family: Georgia, serif;
}
.pagination > li > a:hover {
  color: #000000;
  background: none;
}
.pagination > li.active > a {
  color: #333333;
  background: none;
}
.pagination > li.active > a:hover {
  color: #000000;
  background: none;
}
/***********************************************************/