<% is_complete = @profile.is_complete? %>

<h1>
	<%= is_complete ? t(:new_requisition) : t(:profile_incomplete)%>
	
</h1>

<% if is_complete %>
	<%= render 'form' %>
<% else %>	
	<div class="text-center">		
		<h3>
			Es necesario que llenes tu perfil para hacer una solicitud
		</h3>

		<%= button_to edit_profile_path(@profile), class: 'btn btn-primary', method: :get do%>
			<i class="glyphicon glyphicon-pencil"> Editar</i>
		<% end %>
	</div>
<% end %>
